@import 'theme/rem';

.analysis-app {
	height: 100%;
	overflow-y: auto;
	background-color: #c0d3f1;
	padding: 32 * $dim-1px;

	&__header {
	}

	&__header-title {
		font-weight: 700;
		font-size: 24 * $dim-1px;
	}

	&__section {
	}

	&__section-title {
		font-weight: 700;
		font-size: 16 * $dim-1px;
	}

	&__rank-field {
		width: 96 * $dim-1px;

		::ng-deep .mat-form-field-infix {
			padding: 8 * $dim-1px 0;
			border-top-width: 4 * $dim-1px;
		}

		[matSuffix] {
			transform: translateY(1 * $dim-1px);
		}

		mat-icon {
			cursor: pointer;
		}
	}
}
