<div [class]="blockName" fxLayout="column" [fxLayoutGap]="dimensions(32)">
	<div [class]="styles('scroll-container')">
		<div fxLayout="column">
			<div [class]="styles('header-title')">
				Adventure Communists Researcher Analysis
			</div>
			<div [class]="styles('description')">
				<p>Enter your rank below and set the levels of your researchers.</p>
				<p>
					If you like you can set the available cards for some of your
					researchers, so the cost of buying the cards for science can be
					factored in.
				</p>
				<p>
					In the section for researchers for comrade trades you can set the cost
					of your <span [class]="styles('text', 'bold')">next</span> comrade
					trade to get better accuracy. You would set i.e. "5HH" or simply "HH".
					This will be used to evaluate how many trades you already got.
					Otherwise the power in the industry will be used to estimate the
					number of trades (which is not very accurate).
				</p>
				<p>
					Except for comrade trades the boost of leveling a researcher is
					evaluated in log with base 2. So leveling a common is always boost 1
					but multiplies your industry power by 2.
				</p>
				<p>
					Disclaimer: The state of your form below will be saved to your cookies
					once you start setting values. When you come back to this site you
					don't have to reapply all your settings.
				</p>
			</div>
		</div>
		<div
			[class]="styles('rank-section')"
			fxLayout="row"
			fxLayoutAlign="start baseline"
			[fxLayoutGap]="dimensions(8)"
		>
			<div>Your Rank</div>
			<mat-form-field appearance="outline" [class]="styles('rank-field')">
				<input matInput [formControl]="rankControl" type="number" />
				<div matSuffix fxLayout="row">
					<mat-icon (click)="rankUp()">arrow_circle_up</mat-icon>
					<mat-icon (click)="rankDown()">arrow_circle_down</mat-icon>
				</div>
			</mat-form-field>
			<mat-checkbox
				[class]="styles('sort-checkbox')"
				[formControl]="sortControl"
				>Sort by most valuable Researchers
			</mat-checkbox>
		</div>

		<div
			*ngFor="let section of sections"
			fxLayout="column"
			[class]="styles('section')"
		>
			<div fxLayout="row">
				<div [class]="styles('section-title')">{{ section }} Analysis</div>
				<div [class]="styles('section-header-lvl')">Level</div>
				<div
					*ngIf="section === 'Trade'"
					[class]="styles('section-header-tradecost')"
				>
					Trade Cost
				</div>
				<div [class]="styles('section-header-cards')">Available Cards</div>
				<div [class]="styles('section-header-boost')">Boost</div>
				<div [class]="styles('section-header-cost')">Cost</div>
				<div>Boost per 1k science</div>
			</div>
			<div fxLayout="column" [fxLayoutGap]="dimensions(8)">
				<div
					*ngFor="
						let researcher of filterAndSort(
							researcherBySection[section],
							analysisMap$ | async,
							rank$ | async
						);
						trackBy: trackByResearcherId
					"
				>
					<researcher-analysis-row
						[researcher]="researcher"
						[researcherState]="(researcherStateMap$ | async)[researcher.id]"
						[analysis]="(analysisMap$ | async)[researcher.id]"
						(updated)="updateResearcherState($event)"
					></researcher-analysis-row>
				</div>
			</div>
		</div>
	</div>
</div>
