@import 'theme/rem';

.analysis-app {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #c0d3f1;

	&__scroll-container {
		overflow: auto;

		padding: 32 * $dim-1px;
	}

	&__description {
		width: 700 * $dim-1px;
	}

	&__header-title {
		font-weight: 700;
		font-size: 24 * $dim-1px;
	}

	&__section {
		margin-top: 48 * $dim-1px;
		width: 1000 * $dim-1px;
	}

	&__section-title {
		font-weight: 700;
		font-size: 16 * $dim-1px;
		width: 256 * $dim-1px;
	}

	&__section-header-lvl {
		width: 104 * $dim-1px;
	}

	&__section-header-cards {
		width: 128 * $dim-1px;
	}

	&__section-header-boost {
		width: (104 - 40) * $dim-1px;
	}

	&__section-header-cost {
		width: (128 - 40) * $dim-1px;
	}

	&__sort-checkbox {
		margin-left: 24 * $dim-1px;
	}

	&__rank-section {
		width: 1000 * $dim-1px;
	}

	&__rank-field {
		width: 96 * $dim-1px;

		::ng-deep .mat-form-field-infix {
			padding: 8 * $dim-1px 0;
			border-top-width: 4 * $dim-1px;
		}

		[matSuffix] {
			transform: translateY(1 * $dim-1px);
		}

		mat-icon {
			cursor: pointer;
		}
	}
}
