<div
		[class]="blockName"
		fxLayout="row"
		[fxLayoutGap]="dimensions(8)"
		fxLayoutAlign="start baseline"
>
	<div [class]="styles('name')">{{ researcher.researcherName }}</div>
	<div [class]="styles('industry')">
		<img
				[src]="iconPath + researcher.industry.toLowerCase() + '.png'"
		/>
	</div>
	<div [class]="styles('modifier')">
		<img
				[src]="iconPath + researcher.modifier.toLowerCase() + '.png'"
		/>
	</div>
	<mat-form-field [class]="styles('current-level')">
		<input matInput [formControl]="formControls.currentLevel" type="number"/>
		<div matSuffix fxLayout="row">
			<mat-icon (click)="lvlUp()">arrow_circle_up</mat-icon>
			<mat-icon (click)="lvlDown()">arrow_circle_down</mat-icon>
		</div>
	</mat-form-field>
	<mat-form-field [class]="styles('available-cards')">
		<input matInput [formControl]="formControls.availableCards" type="number"/>
		<div
				matSuffix
				fxLayout="row"
				fxLayoutAlign="start center"
		>
			<mat-icon (click)="cardsUp()">arrow_circle_up</mat-icon>
			<mat-icon (click)="cardsDown()">arrow_circle_down</mat-icon>
		</div>
	</mat-form-field>
	<div [class]="styles('boost')">{{ format(analysis?.boost) }}</div>
	<div [class]="styles('cost')">
		{{ getCost() }}
	</div>
	<div [class]="styles('ratio')">
		{{ format(analysis?.boostPer1kScience) }}
	</div>
</div>
